<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cài đặt hệ thống</title>
    <style>
        body { font-family: Arial; background: #f5f6fa; padding: 20px; }
        .card {
            background:white; padding:20px;
            margin:10px; border-radius:10px;
            font-size:20px; display:block;
            text-decoration:none; color:black;
            border:1px solid #ddd;
            transition:0.2s;
        }
        .card:hover { background:#ececec; }
    </style>
</head>
<body>

<h2>Cài đặt hệ thống</h2>

<a class="card" href="/floor/list">Quản lý Tầng – Phòng – Bàn</a>
<a class="card" href="/combo/list">Quản lý Combo</a>
<a class="card" href="/service/list">Quản lý Dịch vụ</a>

</body>
</html>
